* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --rad: 20px;
    list-style: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: 1s;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    /* margin: 200px auto; */
    width: calc(var(--rad) * 8);
    height: calc(var(--rad) * 8);
    perspective: 500px;
    border: 1px solid hsl(225, 100%, 74%);

  }
  
  .cube {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    width: calc(var(--rad) * 2);
    height: calc(var(--rad) * 2);
    transform-style: preserve-3d;
    /* animation: cube_rotate 10s linear infinite; */
    margin: 20px;
  }
  .side {
    position: absolute;
    width: calc(var(--rad) * 2);
    height: calc(var(--rad) * 2);
    /* border: 2px solid #000; */
    /* border-radius: 15px; */
    text-align: center;
    line-height: 300px;
    color: #000;
    /* background-color: #fff; */
    /* animation: cube_corners 3s ease-in-out infinite; */
    /* z-index: 1; */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    -webkit-user-drag: none; 
    user-select: none;
  }
  
  .front {
    transform: translateZ(var(--rad));
    z-index: 3;

  }
  
  .back {
    transform: rotateY(180deg) translateZ(var(--rad));
    z-index: 1;
  }
  
  .top {
    transform: rotateX(90deg) translateZ(var(--rad));
    z-index: 2;
    /* background-image: url(img/top_grass.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(var(--rad));
    z-index: 2;
    /* background-image: url(img/bottom_grass.webp); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .right {
    transform: rotateY(90deg) translateZ(var(--rad));
    z-index: 2;

  }
  
  .left {
    transform: rotateY(-90deg) translateZ(var(--rad));
    z-index: 2;

  }

  .texture_number_input {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    position: absolute;
    width: 170px;
    height: 30px;
    transform: translateY(200px);

  }

.bf_active {
    background-image: url(img/BlockCSS.png);
    background-position: -400px -336px;
}
  /* @keyframes cube_rotate {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
  } */

  @keyframes cube_corners {
    0% {
        border-radius: 0px;
    }
    50% {
        border-radius: 50%;
    }
  }